@import './../../../../assets/scss/colors.scss';

.rbp-processStatusInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    &__message {
        padding: 20px;
        line-height: 30px;
        background-color: $support-01;
        font-size: 20px;
        color: $brand-01;
        text-align: center;
        margin-bottom: 20px;
        box-shadow: 0 10px 20px rgba($ui-01, 0.19), 0 6px 6px rgba($ui-01, 0.23);
        max-width: 600px;
    }
    &.-error {
        .rbp-processStatusInfo {
            &__message {
                background-color: $support-02;
            }
        }
    }

    &.-loading {
        .rbp-processStatusInfo {
            &__message {
                background-color: $support-03;
            }
        }
    }
}

/***

SPINNING LOADER STYLE

***/

.loader {
    display: inline-block;
    width: 80px;
    height: 80px;
    position: relative;
}
.loader div {
    border: 4px solid $brand-02;
    border-radius: 50%;
    opacity: 1;
    animation: loader-spin 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
    position: absolute;
}
.loader div:nth-child(2) {
    animation-delay: -0.5s;
}
@keyframes loader-spin {
    0% {
        width: 0;
        height: 0;
        opacity: 1;
        top: 36px;
        left: 36px;
    }
    100% {
        width: 72px;
        height: 72px;
        opacity: 0;
        top: 0px;
        left: 0px;
    }
}
